@import "tailwindcss";

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPro/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPro/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --Volt-Greem: #c0d908;
  --Apple-Green: #95a906;
  --White: #f3f5f9;
  --Neutral-Light: #c5c6cc;
  --radius-sm: 5px;
  --black-f: #0f0f0f;
  --Black: #000;
  --leading-normal: normal;
  --Neutral-Dark: #1f2024;
  --font-base: "SF Pro", sans-serif;
  --font-heading: var(--font-geologica);
}

body {
  background: var(--Black);
  color: var(--White);
  font-family: var(--font-base);
}
